@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:wght@900&display=swap");
::-moz-selection {
  color: white;
  background: #343a40;
}
::selection {
  color: white;
  background: #343a40;
}

*,
html,
body {
  margin: 0;
  padding: 0;
}

.media-body {
  overflow-y: hidden;
}

.nav {
  width: 100%;
  padding-top: 40px;
  background: linear-gradient(to right, #000, #343434);
  color: #fff;
  font-weight: 900;
}

.navv2 {
  width: 100%;
  padding-top: 40px;
  font-weight: 900;
}

.main-vsd {
  height: 100vh;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.work-flex {
  display: flex;
  justify-content: space-between;
}

.text-header {
  font-size: 78px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.flex {
  display: flex;
}

ul {
  list-style: none;
}

.hero__container {
  max-width: 1375px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.odd-background {
  width: 100%;
  height: 110vh;
  background: linear-gradient(to right, #000, #343434);
}

.odd-background-v2 {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #000, #343434);
}

.m-hd {
  font-size: 26px;
  font-weight: 700;
  margin-top: 30px;
}

.text {
  font-size: 18px;
}

.font-bolder {
  font-weight: 900;
}

.svg-sec {
  position: relative;
  top: -90px;
  height: 100%;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.K_bC {
  position: absolute;
}

.login-section-img img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.login-section-main {
  width: 26%;
  margin: 40px;
  margin-top: 380px;
}

input {
  border: 1px solid #ccc;
  text-decoration: none;
  outline: hidden;
  width: 100%;
  height: 36px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  text-align: center;
  background: #47baef;
  font-weight: 700;
  color: #fff;
  transition: background 700ms;
}

.submit-btn:hover {
  background: #3392be;
}

.post-image {
  border-radius: 15px;
}

.border-line {
  width: 100%;
  height: 1px;
  background: #273339;
  opacity: 0.2;
}

.side-container {
  width: 30%;
  border-right: 1px solid #ccc;
}

.post-site .profile {
  width: 80px;
  height: 40px;
  border-radius: 50%;
}

.profile-img-nav {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: -25px;
}

.b2_fZ {
  width: 100%;
  height: 250px;
  margin-top: 30px;
}

footer {
  width: 100%;
  height: 300px;
  background: #343434;
}

.footer-vone {
  width: 30%;
}

.signup-btn {
  background: #47baef;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.profile-bac {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-bac img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
}

.profile-mn {
  width: 50%;
  align-items: center;
}
.profile-mn img {
  position: relative;
  top: -50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cursor-pointer{
    cursor: pointer;
}

.logo-img-cog{
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.dashboard{
  font-size: 20px;
}

.footer-img{
  width: 120px;
  height: 120px;
}